.block-position {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
body {
    font-family:Arial, Helvetica;
}
.block {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    
    margin-bottom: 20px;
}
.block .title {
    font-weight: bold;
}
.block .content {
    margin: 20px;
}

.valid {
    color: #006600;
}
.error {
    color: red;
}
button.upload {
    width: 140px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 10px;
}
.center {
    text-align: center;
}

.loader {
    border: 10px solid #c5c2c2;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.loader-small {
    border: 1px solid #c5c2c2;
    border-top: 1px solid #3498db;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 1s linear infinite;
}

ul.list {
    list-style: none;
    padding-left: 0;
}

ul.list li.list-item {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    margin-bottom: 7px;
}

ul.list .title {
    font-weight: bold;
}

ul.list .actions {   
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}

.remove {
    cursor: pointer;
}